@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&family=JetBrains+Mono:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --bg0: #282828;
  --bg1: #3c3836;
  --bg2: #504945;
  --fg0: #fbf1c7;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  
  --red: #fb4934;
  --green: #b8bb26;
  --yellow: #fabd2f;
  --blue: #83a598;
  --purple: #d3869b;
  --aqua: #8ec07c;
  --orange: #fe8019;
}

.debug {
  border: 2px solid red;
}

* {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  background-color: var(--bg0);
  color: var(--fg0);
}

.App {
  /*max-width: 75%;*/
  margin: 45px auto;
}

.header {
  font-weight: bold;
  font-size: 7em;
  text-align: center;
}

.quote, .author {
  text-align: center;
}

.quote {
  font-size: 1.5em;
  margin-bottom: 2em;
}

.author {
  font-size: .9em;
  font-style: italic;
  color: var(--fg2);
}

.home {
  display: flex;
  flex-direction: row;
  max-width: 75%;
  margin: 0 auto;
}

.img-container {
  margin-right: 2em;
  width: 40%;
}

.img {
  width: 100%;
}

.text {
  padding: 5em 1em;
  align-content: center;
  justify-content: center;
  flex: 1;
}

.sign {
  text-align: right;
  margin-top: 2em;
  font-style: italic;
}


/*~~~~~~~~~@media queries~~~~~~~~~*/

.s_img {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2em;
}

.s_home {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  margin: 0 auto;
}

.s_text {
  padding: 1em;
  align-content: center;
  justify-content: center;
  flex: 1;
}



.l_text {
  align-content: center;
  justify-content: center;
  flex: 1;
  font-size: 0.7em;
}

.l_img {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0;
}




/*~~~~~FOOTER~~~~~*/
.footer {
  background-color: var(--bg1);
  width: 100%;
  padding: 2em;
  color: var(--fg1);

  position: fixed;
  left: 0;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-btn {
  background-color: transparent;
}
