@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&family=JetBrains+Mono:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'JetBrainsMono Nerd';
  src: url('./fonts/JetBrains\ Mono\ Regular\ Nerd\ Font\ Complete\ Mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.nerd-icons {
  font-family: 'JetBrainsMono Nerd';
}

:root {
  --bg0: #282828;
  --bg1: #3c3836;
  --bg2: #504945;
  --fg0: #fbf1c7;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  
  --red: #fb4934;
  --green: #b8bb26;
  --yellow: #fabd2f;
  --blue: #83a598;
  --purple: #d3869b;
  --aqua: #8ec07c;
  --orange: #fe8019;
}

.debug {
  border: 2px solid red;
}

* {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: var(--fg0);

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg0);
  transition: background-color .25s, color .25s;
}

button {
  cursor: pointer;
  border: none;
  background-color: inherit;
}


.App {
  /*max-width: 75%;*/
  margin: 0 auto;
}

.header {
  background-color: var(--bg1);
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 999;
}

.navbar {
  background-color: inherit;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
  margin: 0 auto;
}

.brand {
  text-decoration: none;
  width: 28%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 3rem;
}

.name {
  font-size: 2em;
}

.content {
  margin-top: 115px;
}

.quote, .author {
  text-align: center;
}

.quote {
  font-size: 1.5em;
  margin-bottom: 2em;
}

.author {
  font-size: .9em;
  font-style: italic;
  color: var(--fg2);
}

.home {
  display: flex;
  flex-direction: row;
  max-width: 75%;
  margin: 0 auto;
}

.img-container {
  margin-right: 2em;
  width: 40%;
}

.img {
  width: 100%;
}

.text {
  padding: 5em 1em;
  align-content: center;
  justify-content: center;
  flex: 1;
}

.sign {
  text-align: right;
  margin-top: 2em;
  font-style: italic;
}


/*~~~~~~~~~@media queries~~~~~~~~~*/

.s_img {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0;
}

.s_home {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  margin: 0 auto;
}

.s_text {
  padding: 1em;
  align-content: center;
  justify-content: center;
  flex: 1;
  font-size: 0.7em;
}



/*.l_text {
  align-content: center;
  justify-content: center;
  flex: 1;
  font-size: 0.7em;
}*/

/*.l_img {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0;
}*/

/*~~~~~ABOUT~~~~~*/
.about {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.abt-profile {
  margin: 2rem;
}

.abt-profile .name {
  text-align: center;
  font-size: 32px;
}

.abt-links a {
  font-size: 100px;
  margin: 0 2rem;
  text-decoration: none;
}

.fl-dr-column {
  flex-direction: column;
}

.s_about {
  font-size: 80%;
}


/*~~~~~LIGHT MODE~~~~~*/
body.light-theme {
  --fg0: #282828;
  --fg1: #3c3836;
  --fg2: #504945;
  --bg0: #fbf1c7;
  --bg1: #ebdbb2;
  --bg2: #d5c4a1;
  
  --red: #9d0006;
  --green: #79740e;
  --yellow: #b57614;
  --blue: #076678;
  --purple: #8f3f71;
  --aqua: #427b58;
  --orange: #af3a03;
}

.moon-icon {
  display: none;
}

.light-theme .sun-icon {
  display: none;
}

.light-theme .moon-icon {
  display: block;
}

.moon-icon, .sun-icon {
  background-color: transparent;
}